In [2]:
import os
import time
from tqdm import tqdm_notebook # не обязательный
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
# Делает графики удобного размера
matplotlib.rcParams['figure.figsize'] = (8, 8)
# Делает красивый грид на графиках
sns.set_style('whitegrid')

### Pandas

Для выполнения этого блока заданий вам понадобится файл <<Данные для практической работы №1>>

In [64]:
# Загрузите данные в переменную dat и выведите размер датафрейма и первые 5 строк

In [45]:
dat = pd.read_csv('/Users/anton.andreytsev/Downloads/data.csv')
print(dat.shape)
dat.head(5)

(4622, 5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [10]:
# Сколько пропусков в каждой из колонок (NaN)

In [11]:
dat.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [23]:
# Напечатать таблицу с 2 колонками: 1 - уникальные значения quantity, 2 - сколько раз каждое такое значение встречается 
# (выведите их отсортированными по значениям quantity в возрастающем порядке)

In [24]:
dat.quantity.value_counts().sort_index()

1     4355
2      224
3       28
4       10
5        1
7        1
8        1
10       1
15       1
Name: quantity, dtype: int64

In [25]:
# Напечатать таблицу с 2 колонками: 1 - уникальные значения item_name, 2 - сколько раз каждое такое значение встречается 
# (выведите их отсортированными по значениям встречаемости в возрастающем порядке)

In [26]:
dat.item_name.value_counts().sort_values()

Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Steak Salad                                4
Veggie Salad                               6
Burrito                                    6
Carnitas Salad Bowl                        6
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Chicken Salad                              9
Barbacoa Salad Bowl                       10
Barbacoa Crispy Tacos                     11
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili Corn Salsa        22
Barbacoa Soft Tacos                       25
Nantucket Nectar                          27
Steak Salad Bowl                          29
Chips and Tomatillo-Green Chili Salsa     31
Steak Crispy Tacos                        35
Carnitas Soft Tacos                       40
Chips and Tomatillo Green Chili Salsa     43
Chicken Crispy Tacos                      47
Chips and Tomatillo Red Chili Salsa       48
6 Pack Soft Drink                         54
Steak Soft Tacos                          55
Carnitas Burrito                          59
Barbacoa Bowl                             66
Carnitas Bowl                             68
Veggie Bowl                               85
Barbacoa Burrito                          91
Veggie Burrito                            95
Side of Chips                            101
Canned Soda                              104
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Chicken Soft Tacos                       115
Bottled Water                            162
Steak Bowl                               211
Chips                                    211
Canned Soft Drink                        301
Steak Burrito                            368
Chips and Guacamole                      479
Chicken Burrito                          553
Chicken Bowl                             726
Name: item_name, dtype: int64

In [43]:
# Сделайте item_price типом float  (Подсказка: надо удалить знаки $)

In [46]:
dat.item_price = dat.item_price.apply(lambda x: float(x.replace('$', '')))

In [49]:
# Создайте колонку one_item_price - стоимость одной порции блюда, которая будет равна item_price/quantity

In [52]:
dat['one_item_price'] = dat.item_price/dat.quantity

In [ ]:
# Создайте датафрейм из 3 колонок: 1 - уникальные item_name, 2 - минимальная цена (one_item_price), 3 - максимальная цена (one_item_price)
# Отсортируйте этот датафрейм по убыванию значения максимальной цены (one_item_price)
# Сохраните полученный датафрейм в переменную dat_gr и напечатайте его первые 5 строк

In [63]:
dat_gr = dat.groupby(['item_name'])['one_item_price'].describe()[['min', 'max']].sort_values(by='max', ascending=False).reset_index()
dat_gr.head(5)

             item_name   min    max
0     Steak Salad Bowl  9.39  11.89
1  Carnitas Salad Bowl  9.39  11.89
2  Barbacoa Salad Bowl  9.39  11.89
3     Steak Soft Tacos  8.99  11.75
4        Barbacoa Bowl  8.69  11.75

In [65]:
# Отсортируйте dat_gr по значению разницы между максимальной и минимальной ценами в убывающем порядке

In [67]:
dat_gr['range'] = dat_gr['max'] - dat_gr['min']
dat_gr.sort_values(by='range', ascending=False)

                                item_name   min    max         range
11                             Steak Bowl  8.69  11.75  3.060000e+00
6                        Carnitas Burrito  8.69  11.75  3.060000e+00
14                       Barbacoa Burrito  8.69  11.75  3.060000e+00
22                           Chicken Bowl  8.19  11.25  3.060000e+00
10                          Steak Burrito  8.69  11.75  3.060000e+00
9                      Steak Crispy Tacos  8.69  11.75  3.060000e+00
21                        Chicken Burrito  8.19  11.25  3.060000e+00
4                           Barbacoa Bowl  8.69  11.75  3.060000e+00
24                          Chicken Salad  8.19  10.98  2.790000e+00
7                           Carnitas Bowl  8.99  11.75  2.760000e+00
8                     Carnitas Soft Tacos  8.99  11.75  2.760000e+00
5                   Carnitas Crispy Tacos  8.99  11.75  2.760000e+00
3                        Steak Soft Tacos  8.99  11.75  2.760000e+00
12                    Barbacoa Soft Tacos  8.99  11.75  2.760000e+00
13                  Barbacoa Crispy Tacos  8.99  11.75  2.760000e+00
16                            Veggie Bowl  8.49  11.25  2.760000e+00
17                         Veggie Burrito  8.49  11.25  2.760000e+00
18                     Chicken Soft Tacos  8.49  11.25  2.760000e+00
20                   Chicken Crispy Tacos  8.49  11.25  2.760000e+00
19                      Veggie Soft Tacos  8.49  11.25  2.760000e+00
1                     Carnitas Salad Bowl  9.39  11.89  2.500000e+00
23                      Veggie Salad Bowl  8.75  11.25  2.500000e+00
0                        Steak Salad Bowl  9.39  11.89  2.500000e+00
15                     Chicken Salad Bowl  8.75  11.25  2.500000e+00
2                     Barbacoa Salad Bowl  9.39  11.89  2.500000e+00
41           Chips and Fresh Tomato Salsa  2.29   2.95  6.600000e-01
34                    Chips and Guacamole  3.89   4.45  5.600000e-01
47                          Bottled Water  1.09   1.50  4.100000e-01
26                            Steak Salad  8.69   8.99  3.000000e-01
45                                  Chips  1.99   2.15  1.600000e-01
31                                   Bowl  7.40   7.40  8.881784e-16
46                          Side of Chips  1.69   1.69  2.220446e-16
39  Chips and Tomatillo Green Chili Salsa  2.95   2.95  0.000000e+00
48                      Canned Soft Drink  1.25   1.25  0.000000e+00
44     Chips and Roasted Chili-Corn Salsa  2.39   2.39  0.000000e+00
43  Chips and Tomatillo-Green Chili Salsa  2.39   2.39  0.000000e+00
42    Chips and Tomatillo-Red Chili Salsa  2.39   2.39  0.000000e+00
40     Chips and Roasted Chili Corn Salsa  2.95   2.95  0.000000e+00
25                         Carnitas Salad  8.99   8.99  0.000000e+00
38    Chips and Tomatillo Red Chili Salsa  2.95   2.95  0.000000e+00
37      Chips and Mild Fresh Tomato Salsa  3.00   3.00  0.000000e+00
36                       Nantucket Nectar  3.39   3.39  0.000000e+00
35                                   Izze  3.39   3.39  0.000000e+00
33                      6 Pack Soft Drink  6.49   6.49  0.000000e+00
32                                  Salad  7.40   7.40  0.000000e+00
30                                Burrito  7.40   7.40  0.000000e+00
29                           Crispy Tacos  7.40   7.40  0.000000e+00
28                           Veggie Salad  8.49   8.49  0.000000e+00
27                    Veggie Crispy Tacos  8.49   8.49  0.000000e+00
49                            Canned Soda  1.09   1.09  0.000000e+00

In [68]:
# Отсортируйте item_name по длине названия и выдайте 5 самых длинных названий

In [77]:
print('Топ 5 самых длинных названий:')
print(dat_gr.item_name[np.argsort(dat_gr.item_name.apply(lambda x: len(x)))[::-1]].head(5).tolist())
print('Топ 5 самых коротких названий:')
print(dat_gr.item_name[np.argsort(dat_gr.item_name.apply(lambda x: len(x)))].head(5).tolist())

Топ 5 самых длинных названий:
['Chips and Tomatillo Green Chili Salsa', 'Chips and Tomatillo-Green Chili Salsa', 'Chips and Tomatillo Red Chili Salsa', 'Chips and Tomatillo-Red Chili Salsa', 'Chips and Roasted Chili Corn Salsa']
Топ 5 самых коротких названий:
['Izze', 'Bowl', 'Chips', 'Salad', 'Burrito']

In [86]:
# Сколько заказов содержит ровно 1 товар? (Подсказка: заказ определяется order_id - все строки, у которых одинковый order_id - это один заказ)

In [85]:
(dat.groupby('order_id')['quantity'].agg(list).apply(lambda x: len(x)) == 1).sum()

128

In [104]:
# Выведите все виды буррито которые есть с количеством раз, сколько они встречались в датафрейме dat 
# (Подсказка: во всех видах буррито присутствует слово "Burrito")

In [124]:
buritto_df = dat.item_name[['Burrito' in name for name in dat.item_name]].value_counts()
buritto_df

Chicken Burrito     553
Steak Burrito       368
Veggie Burrito       95
Barbacoa Burrito     91
Carnitas Burrito     59
Burrito               6
Name: item_name, dtype: int64

In [127]:
# Выведите таблицу с 2 колонками: 1 - уникальные виды буритто, 2 - их стоимости, отсортированную по убыванию стоимостей

In [128]:
dat.loc[[name in buritto_df.keys() for name in dat.item_name]].groupby(['item_name'])['one_item_price'].mean().sort_values(ascending=False)

item_name
Steak Burrito       9.993424
Carnitas Burrito    9.975932
Barbacoa Burrito    9.832418
Veggie Burrito      9.602842
Chicken Burrito     9.475949
Burrito             7.400000
Name: one_item_price, dtype: float64

In [113]:
# В каком количестве заказов есть товар, который составляет более 40% от стоимости всего заказа

In [112]:
dat_merged = dat.merge(dat.groupby('order_id')['item_price'].sum().rename('total_price'), how='inner', on='order_id')
((dat_merged['item_price']/dat_merged['total_price']) > 0.4).sum()

2087

In [151]:
# Представим, что товар [Diet Coke] (choice_description) на самом деле стоил на 15% дороже, чем написано в таблице 
# (то есть вместо 1.09 -> 1.09*1.15, 1.25 -> 1.25*1.15, 6.49 -> 6.49*1.15).
# Сколько денег прошло мимо кассы, если учесть, что продавался этот товар по новой стоимости, а чек печатался по старой

In [155]:
hidden_cash = dat.item_price[dat.choice_description[dat.choice_description.isin(['[Diet Coke]'])].index].sum()*0.15
print(hidden_cash)

49.0065

In [170]:
# Создайте датафрейм из random_matrix, удовлетворяющий следующим условиям: 
# 1) колонки датафрейма должны называться ['A', 'B', 'C', 'D', 'E']
# 2) Колонка "B" должна быть индексом
# random_matrix = np.random.randint(-5, 5, size=(15, 5))
# Сохраните полученный датафрейм на диск

In [171]:
pd.DataFrame(random_matrix, columns=['A', 'B', 'C', 'D', 'E']).set_index(['B'])#.to_csv('/.../dataframe.csv')

    A  C  D  E
B
-4  4  0 -5 -5
 2 -4 -3  3  3
-4 -4 -5 -1 -2
 3 -2 -4  0 -1
 4 -5 -5 -1 -4
 3  4  0  1  3
-5 -4  2  0 -3
-2 -5 -5 -2  3
 3  2  1 -1  4
-3  2 -5  3  2
 1  4 -1  4  2
-5 -2 -3  1 -5
-1  1 -4  2  2
 3  3 -1 -3 -5
-5  1 -2 -2  4